<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>

  <body>
    You have registered with Blocipedia using the following email: <%= @user.email %>
  </body>
</html>
