<h1><%= @wiki.title %></h1>
<small>Last updated at <%= time_ago_in_words(@wiki.updated_at) %></small>
<p><%= @wiki.body %></p>
<br>
<%= link_to 'Return to Index', root_path, :class => 'navbar-link' %>
